* {
	box-sizing: border-box;
}

body {
	font-family: "Schoolbell", sans-serif;
	background-color: #eef2ff;
}

.main-form {
	margin-left: 25%;
}
.form {
    display: inline-block;
}

.gpa, .optional, .act, .sat, .income, .ecs, .essay{
	padding-top: 10px;
}

.gpa-form, .optional-form, .act-form, .sat-form, .income-form, .ecs-form, .essay-form{
	background-color: cadetblue;
	color: blue;
}

.gpa-text, .optional-text, .act-text, .sat-text, .income-text, .ecs-text .essay-text{
	font-size: 15px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 3px;
	border: 10px;

}

